.repo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  font-size: 20px;
}

.usersContainer {
  display: flex;
  justify-content: space-around;
}

.userCardContainer {
  width: 30%;
  flex: 1 1 0;
}

.message {
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
